@{
	ViewData["Title"] = "DeletedArticles";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section styles{


	<link rel="stylesheet" href="/Admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="/Admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
	<link rel="stylesheet" href="/Admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">


	<link href="~/admin/plugins/select2/css/select2.min.css" rel="stylesheet" />


	<link href="~/admin/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
}





<table class="table" id="tblDeletedArticles">

	<thead>
		<tr>
			<th>ID</th>
			<th>BAŞLIK</th>
			<th>OLUŞTURULMA TARİHİ</th>
			<th>GÜNCELLENME TARİHİ</th>
			<th>SİLİNME TARİHİ</th>
			<th>KURTAR </th>
			<th>SİL</th>
			<th>DETAY</th>

		</tr>


	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			@if (item.IsDeleted == true)
			{
				<tr>
					<td>@item.ID</td>
					<td>@item.Title</td>
					<td>@item.CreatedDate</td>
					@if (item.ModifiedDate.Hour + item.ModifiedDate.Minute + item.ModifiedDate.Second + item.ModifiedDate.Millisecond + item.ModifiedDate.Ticks == 0)
					{
						<td>Güncelleme Yok</td>
					}
					else
					{
						<td>@item.ModifiedDate</td>
					}
					<td>@item.DeletedDate</td>

					<td><button type="button" class="btn btn-primary SavedArticle" x="@item.ID"><i class='bx bx-save'></i></button></td>
					<td><button type="button" class="btn btn-danger DeleteArticle" y="@item.ID"><i class='bx bx-trash'></i></button></td>
					<td><a href="/admin/Article/Details/@item.ID" class="btn btn-warning"><i class='bx bx-show'></i></a></td>
				</tr>
			}
		}

	</tbody>

</table>


@section scripts
	{

	<script src="/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="/Admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>

	<script src="/Admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/Admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
	<script src="/Admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/Admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
	<script src="/Admin/plugins/jszip/jszip.min.js"></script>
	<script src="/Admin/plugins/pdfmake/pdfmake.min.js"></script>
	<script src="/Admin/plugins/pdfmake/vfs_fonts.js"></script>
	<script src="/Admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
	<script src="/Admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
	<script src="/Admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

	<script src="~/js/deletedarticlesdatatable.js"></script>

	<script src="~/admin/plugins/select2/js/select2.full.min.js"></script>
	<script src="~/admin/plugins/sweetalert2/sweetalert2.min.js"></script>

	<script src="~/js/articlesavewarning.js"></script>
	<script src="~/js/articleharddeletewarning.js"></script>
}




