@model List<ApiCategoryGetDto>


@{
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section styles{

	<link rel="stylesheet" href="/Admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="/Admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
	<link rel="stylesheet" href="/Admin/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

	<link href="~/admin/plugins/select2/css/select2.min.css" rel="stylesheet" />

	<link href="~/admin/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
}




<a class="btn btn-success mb-3" asp-area="Admin" asp-controller="Category" asp-action="Add">Kategori Ekle<i class="bx bx-plus"></i></a>

<table class="table" id="tblCategories">

	<thead>
		<tr>
			<th>ID</th>
			<th>NAME</th>
			<th>OLUŞTURULMA TARİHİ</th>
			<th>GÜNCELLENME TARİHİ</th>
			<th>GÜNCELLE</th>
			<th>SİL</th>
			<th>DETAY</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var item in Model)
		{
			@if (!item.IsDeleted)
			{
				<tr>
					<td>@item.ID</td>
					<td>@item.Name</td>
					<td>@item.CreatedDate</td>

					@if (item.ModifiedDate.Hour + item.ModifiedDate.Minute + item.ModifiedDate.Second + item.ModifiedDate.Millisecond + item.ModifiedDate.Ticks == 0)
					{
						<td>Güncelleme Yok</td>
					}
					else
					{
						<td>@item.ModifiedDate</td>
					}



					<td><a href="/admin/Category/CategoryUpdate/@item.ID" class="btn btn-primary"><i class='bx bx-up-arrow-alt'></i></a></td>
					<td><button type="button" class="btn btn-danger DeleteCategory" span="@item.ID"><i class='bx bx-trash'></i></button></td>
					<td><a href="/admin/Category/Details/@item.ID" class="btn btn-warning"><i class='bx bx-show'></i></a></td>
				</tr>
			}
		}
	</tbody>
</table>


@section scripts
	{

	<script src="/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="/Admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>

	<script src="/Admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
	<script src="/Admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
	<script src="/Admin/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
	<script src="/Admin/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
	<script src="/Admin/plugins/jszip/jszip.min.js"></script>
	<script src="/Admin/plugins/pdfmake/pdfmake.min.js"></script>
	<script src="/Admin/plugins/pdfmake/vfs_fonts.js"></script>
	<script src="/Admin/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
	<script src="/Admin/plugins/datatables-buttons/js/buttons.print.min.js"></script>
	<script src="/Admin/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

	<script src="~/admin/plugins/select2/js/select2.min.js"></script>

	<script src="~/admin/plugins/sweetalert2/sweetalert2.min.js"></script>


	<script src="~/js/categorydeletesweetalert.js"></script>

	<script src="~/js/CategoryIndex.js"></script>


}